<!-- Header -->
<div class="header py-5 py-lg-6 pt-lg-5">
  <div class="container">
    <div class="header-body text-center mb-8">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
          <h1 class="text-white">Criar uma conta</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <!-- Credentials card -->
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Insira os dados para criar uma conta</small>
          </div>
          <!-- Credentials form -->
          <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-single-02"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  placeholder="Nome"
                  type="text"
                  autocomplete="name"
                  formControlName="name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-email-83"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  autocomplete="email"
                  formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  placeholder="Senha"
                  type="password"
                  autocomplete="current-password"
                  formControlName="password">
              </div>
            </div>
            <div class="form-group">
              <div class="text-center">
                <button
                  class="btn btn-primary my-4 w-100"
                  [disabled]="!form.valid || loading">
                  <span class="spinner-border spinner-border-sm" *ngIf="loading"></span>
                  <div *ngIf="!loading">Cadastrar</div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Already have an account -->
      <div class="row mt-3">
        <div class="col-12 text-center">
          <a
            class="text-light"
            routerLink="/login">
            <small>Já tem uma conta?</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="container">
  <app-footer></app-footer>
</div>